/* type selector */
body {
    color:cadetblue;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* class selector */
.first{
    color: black;
}

.large{
    font-size: 30px;
}



/*attribute selector*/
a[href="Upflairs.com"] {
    color: rebeccapurple;
    text-decoration: none;
}

/* ID selector */
#eklist{
    background-color: brown;
}