/* Define the global or root variables*/
:root{
    --primaryColor:#213555;
    --backgroundColor:#F5EFE7;
    --primaryAccentColor:#4F709C;
    --secondaryColor:#D8C4B6;
    --whiteColor:white;
    --blackcolor:#222222;
    --primaryFont:"Open Sans",sans-serif;
    --navbarHeight:3rem;
    --cursiveFont:'Neucha&family',cursive;

}

/* main css*/
body{
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px ;
    margin-right: 0px;
    
}

a{
    text-decoration: none;
    color: var(--primaryColor);
}

.navigation{
    background-color: var(--whiteColor);
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 3px 4px grey); 
    
}

.logo{
    display: flex;
    padding-left: 20px;
    width: 12rem;
    align-items: center;
    


}

.contact{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.logoImage{
    height: 2rem;
    /*float: left;*/
    padding: 8px;
}

.contactbutton{
    width: 60px;
    height: 50px;
}

.contactImage{
    height: 2rem;
    padding: 8px;
    margin-right: 40px;
    /* padding-left: 150px; */
    
}

.contactnumber{
    font-size: 12px;
    padding-top: 7px;
    padding-right: 9px;
    
}

.menuitems{
    flex-grow: 2;
}

.menuitem{
    margin-left: 20px;
}

/* banner */
.banner{
    display: flex;
    height: 450px;
    background: linear-gradient(45deg,var(--secondaryColor),var(--primaryAccentColor));
  filter: drop-shadow(0px 3px 4px grey); /*x,y radius color*/
  font-family: var(--cursiveFont);
  justify-content: space-around;
  align-items:center;
  padding: 20px;
}

.bannerleft{
    width: 50%;
    /* margin-left: 100px; */
}

/* .bannerright{
    flex-grow: 2;
} */

.bannerimage{
    height: 470px;
    margin-left: 250px;
    margin-bottom: -22px;
    /* width: 200px; */
}

.gretting{
    font-size: 1.25rem;
}
.title{
    font-size: 2rem;
    color: white;

}

.titlespan{
    display: inline-block;
    background-color: var(--primaryColor);
    padding: 0.5rem;
    margin: 5px 0px;
}

.description{
    line-height: 2rem;
    margin: 30px 0px;
    
}

.showCVbutton{
    background: linear-gradient(white,rgb(205,205,205),rgb(215,215,215));
    padding: 10px 15px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 3px grey);
}

.showCVbutton:hover{
    background: linear-gradient(white,rgb(215,215,215));

}


/* services section */

.services{
    margin: 5rem;
    /* padding: 30px; */
}

.servicetext{
    text-align: center;
    text-transform: uppercase;
}

.textsubheading{
    color: var(--primaryAccentColor);
    letter-spacing: 0.4rem;
    font-size: 1.25rem;

}

.textheading{
    font-size: 2.5rem;
    font-weight: bold;

}

.servicecards{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.servicecard{
    border-radius: 2px;
    border: 2px solid grey;
    filter: drop-shadow(1px 1px 2px #aaaaaa);
    /* margin: 15px; */
    padding: 40px;
    background-color: white;
}

.servicecard:hover{
    background-color: white;
    filter: drop-shadow(3px 3px 8px grey);
}

.serviceicondiv{
    background-color: var(--primaryColor);
    padding: 30px;
    display: inline-block;
    margin-bottom: 20px;
    color: white;
}

.serviceicon{
    font-size: 3rem;
    color: white;
}

.servicetitle{
    font-size: 1.75rem;
    margin: 20px 0px;
}

.servicefeature{
    font-size: 1rem;
    margin: 10px 0px;
}

.servicefeatureicon{
    font-size: 0.75rem;
    color:navy;
}